In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from collections import defaultdict

# For ARIMA model
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf

# Customized functions to do ARIMA modeling
import functions.crop_by_country_arima_analyses as ca

In [2]:
# Read in processed data
items_by_country = pd.read_csv('../data/processed/items_by_country.csv',index_col=0)
print(items_by_country.shape)

# Put name for years into a column
# The years list is used by the function below when reshaping data frame 
year = items_by_country.columns[5:-1].tolist() # Select year 1986-2017

(223049, 38)

In [3]:
items_by_country.head()

,Reporter Countries,Item,Element,Unit,Item Code,Y1986,Y1987,Y1988,Y1989,Y1990,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,NoneZero
0,Afghanistan,Almonds shelled,Export Quantity,tonnes,5313,0,0,0,0,0,...,4763,1308,2261,0,0,2714,2086,1778,2756,7
1,Afghanistan,Almonds shelled,Export Value,1000 US$,5313,0,0,0,0,0,...,35476,15894,20270,0,0,16454,12793,10934,19677,7
2,Afghanistan,Almonds shelled,Import Quantity,tonnes,1617,0,0,0,0,0,...,0,0,0,0,0,168,181,846,103,4
3,Afghanistan,Almonds shelled,Import Value,1000 US$,1617,0,0,0,0,0,...,0,0,0,0,0,1117,1377,4988,759,4
4,Afghanistan,"Almonds, with shell",Export Quantity,tonnes,3315,0,0,0,0,0,...,11066,779,1016,0,0,1856,1660,1545,875,7

In [4]:
item_list = items_by_country.Item.unique().tolist()

In [5]:
len(item_list)

424

In [6]:
item_list[0:50]

['Almonds shelled',
 'Almonds, with shell',
 'Animals live nes',
 'Animals, live, non-food',
 'Anise, badian, fennel, coriander',
 'Apples',
 'Apricots',
 'Apricots, dry',
 'Areca nuts',
 'Artichokes',
 'Asparagus',
 'Avocados',
 'Bacon and ham',
 'Bananas',
 'Barley',
 'Beans, dry',
 'Beans, green',
 'Beer of barley',
 'Beeswax',
 'Beet pulp',
 'Beverages, distilled alcoholic',
 'Beverages, fermented rice',
 'Beverages, non alcoholic',
 'Bran, maize',
 'Bran, sorghum',
 'Bran, wheat',
 'Brazil nuts, shelled',
 'Bread',
 'Broad beans, horse beans, dry',
 'Buckwheat',
 'Buffaloes',
 'Butter, cow milk',
 'Buttermilk, curdled, acidified milk',
 'Cabbages and other brassicas',
 'Cake, copra',
 'Cake, cottonseed',
 'Cake, groundnuts',
 'Cake, linseed',
 'Cake, rapeseed',
 'Cake, soybeans',
 'Cake, sunflower',
 'Camels',
 'Carrots and turnips',
 'Cashew nuts, shelled',
 'Cashew nuts, with shell',
 'Cassava dried',
 'Cattle',
 'Cauliflowers and broccoli',
 'Cereal preparations nes',
 'Cereals, breakfast']

In [ ]:
# Iterate through items and optimize ARIMA parameters for each country, then make predictions
# Save country names for each item analyzed
# item_countries = defaultdict(list) processed item_list[3:10]
arima_item_countries_1 = defaultdict(list) 

# Assign variables
data = items_by_country.copy()
element = 'Export Quantity' # or Export/Import Value
years = year

for i in item_list[10:20]:
    item = i 
    try:
        country_names = ca.arima_pipeline(data, item, element, years)
        arima_item_countries_1[item].append(country_names)
    except Exception as inst: # catch exception instance
        print('An exception occurred')
        print(inst.args) # arguments stored in .args
        continue
    print(datetime.datetime.now(),'\n')

44 country names selected for those with >50% non-zero data
There were 13 non-stationary countries being removed and
 result in 31 stationary countries
Data for Asparagus processed
Argentina (2, 0, 2) MSE=1.73E+03 MAPE=2.95E-01
Belgium (2, 0, 0) MSE=2.26E+04 MAPE=5.70E-02
Canada (1, 0, 0) MSE=8.84E+03 MAPE=5.27E-02
Chile (1, 0, 1) MSE=2.87E+04 MAPE=1.60E+01
China, mainland (6, 0, 0) MSE=1.07E+04 MAPE=5.93E-01
Colombia (3, 0, 1) MSE=2.29E+03 MAPE=4.92E+00
Costa Rica (3, 0, 1) MSE=3.52E+00 MAPE=5.87E-01
Czechia (1, 0, 1) MSE=1.07E+03 MAPE=3.52E-01
Denmark (1, 0, 0) MSE=1.05E+03 MAPE=2.78E-01
France (1, 0, 2) MSE=3.65E+04 MAPE=4.03E-02
Germany (5, 0, 0) MSE=9.24E+04 MAPE=6.92E-02
Guatemala (4, 0, 0) MSE=8.60E+02 MAPE=1.14E-01
Indonesia (1, 0, 0) MSE=2.93E+01 MAPE=1.66E+00
Ireland (1, 0, 0) MSE=8.74E+02 MAPE=6.68E-01
Italy (1, 0, 0) MSE=4.99E+05 MAPE=1.33E-01
Luxembourg (6, 0, 1) MSE=1.27E+01 MAPE=7.64E-02
Malaysia (1, 0, 2) MSE=1.13E+02 MAPE=5.56E-01
Mexico (3, 0, 0) MSE=5.67E+07 MAPE=7.18E-02
Morocco (2, 0, 1) MSE=4.87E+04 MAPE=2.98E-01
Netherlands (6, 0, 0) MSE=1.08E+06 MAPE=6.56E-02
New Zealand (3, 0, 1) MSE=2.39E+03 MAPE=1.63E-01
Philippines (2, 0, 0) MSE=1.34E+05 MAPE=1.43E+00
Poland (5, 0, 0) MSE=4.08E+04 MAPE=8.20E-02
Singapore (1, 0, 0) MSE=3.89E+02 MAPE=3.12E-01
South Africa (1, 0, 1) MSE=4.02E+02 MAPE=1.88E-01
Spain (2, 0, 1) MSE=4.51E+05 MAPE=3.80E-02
Sweden (0, 0, 1) MSE=3.00E+02 MAPE=6.35E-01
Thailand (0, 0, 1) MSE=1.93E+06 MAPE=2.60E-01
Turkey (0, 0, 2) MSE=9.25E+00 MAPE=5.30E-01
United Kingdom (2, 0, 0) MSE=4.85E+03 MAPE=1.52E-01
United States of America (2, 0, 0) MSE=1.25E+07 MAPE=9.70E-02
Arima models for Asparagus optimaized for countries
2020-04-18 12:09:24.910378

54 country names selected for those with >50% non-zero data
There were 8 non-stationary countries being removed and
 result in 46 stationary countries
Data for Avocados processed
Argentina (3, 0, 0) MSE=1.06E+05 MAPE=9.52E-01
Australia (1, 0, 0) MSE=4.33E+04 MAPE=1.15E-01
Austria (1, 0, 0) MSE=1.70E+04 MAPE=2.37E-01
Belgium (2, 0, 0) MSE=2.39E+06 MAPE=2.02E-01
Brazil (1, 0, 0) MSE=2.78E+05 MAPE=1.38E-01
Canada (1, 0, 0) MSE=3.89E+01 MAPE=3.27E+00
Chile (4, 0, 0) MSE=2.10E+08 MAPE=1.15E-01
China, Hong Kong SAR (1, 0, 0) MSE=4.48E+06 MAPE=4.87E-01
Colombia (0, 0, 2) MSE=7.27E+06 MAPE=5.46E-01
Costa Rica (1, 0, 0) MSE=1.35E+04 MAPE=3.72E-01
Czechia (1, 0, 0) MSE=1.57E+04 MAPE=2.30E-01
Denmark (1, 0, 0) MSE=1.83E+04 MAPE=1.79E-01
Dominica (5, 0, 0) MSE=4.61E+03 MAPE=3.84E+00
Finland (3, 0, 0) MSE=6.82E+01 MAPE=6.04E-01
France (2, 0, 2) MSE=3.51E+06 MAPE=1.12E-01
Germany (3, 0, 0) MSE=5.94E+05 MAPE=8.51E-02
Greece (0, 0, 2) MSE=1.27E+04 MAPE=1.44E-01
Guatemala (1, 0, 2) MSE=2.52E+05 MAPE=1.04E-01
Guyana (1, 0, 0) MSE=1.35E+01 MAPE=3.97E-01
Honduras (1, 0, 2) MSE=1.62E+03 MAPE=3.40E-01
Indonesia (1, 0, 0) MSE=9.76E+02 MAPE=2.75E-01
Ireland (1, 0, 2) MSE=1.63E+02 MAPE=2.68E-01
Italy (0, 0, 1) MSE=1.51E+07 MAPE=7.87E-01
Luxembourg (0, 0, 1) MSE=1.02E+04 MAPE=3.44E-01
Mauritius (1, 0, 2) MSE=8.71E+00 MAPE=2.68E-01
Mexico (1, 0, 0) MSE=6.75E+09 MAPE=1.30E-01
Morocco (1, 0, 0) MSE=2.65E+06 MAPE=3.38E-01
Netherlands (1, 0, 0) MSE=3.69E+08 MAPE=1.42E-01
New Zealand (1, 0, 0) MSE=1.18E+07 MAPE=1.30E-01
Nicaragua (1, 0, 0) MSE=1.41E+05 MAPE=1.50E-01
Norway (1, 0, 0) MSE=9.95E+00 MAPE=2.23E-01
Peru (1, 0, 0) MSE=4.55E+08 MAPE=1.70E-01
Philippines (1, 0, 0) MSE=1.18E+02 MAPE=5.56E-01
Portugal (1, 0, 0) MSE=6.08E+04 MAPE=4.27E-01
Singapore (2, 0, 0) MSE=1.18E+03 MAPE=3.23E-01
Slovenia (1, 0, 0) MSE=2.61E+05 MAPE=3.31E-01
South Africa (1, 0, 0) MSE=3.84E+07 MAPE=1.04E-01
Spain (5, 0, 0) MSE=1.28E+07 MAPE=4.22E-02
Sweden (1, 0, 0) MSE=2.42E+04 MAPE=8.99E-01
Switzerland (2, 0, 2) MSE=4.38E+01 MAPE=2.13E-01
Turkey (0, 0, 2) MSE=1.25E+02 MAPE=2.41E-01
Uganda (2, 0, 0) MSE=2.69E+02 MAPE=1.21E+00
United Kingdom (4, 0, 0) MSE=2.14E+05 MAPE=1.68E-01
United States of America (4, 0, 0) MSE=2.05E+07 MAPE=1.29E-01
Venezuela (Bolivarian Republic of) (3, 0, 1) MSE=9.97E+04 MAPE=6.15E-01
Zimbabwe (1, 0, 0) MSE=7.94E+04 MAPE=4.14E-01
Arima models for Avocados optimaized for countries
2020-04-18 12:19:21.409885

57 country names selected for those with >50% non-zero data
There were 11 non-stationary countries being removed and
 result in 46 stationary countries
Data for Bacon and ham processed
Australia (1, 0, 2) MSE=8.55E+03 MAPE=3.24E-01
Austria (2, 0, 0) MSE=3.60E+04 MAPE=3.66E-02
Belarus (1, 0, 0) MSE=9.88E+03 MAPE=3.70E-01
Belgium (4, 0, 1) MSE=1.82E+05 MAPE=2.08E-02
Canada (2, 0, 0) MSE=1.61E+06 MAPE=3.11E-02
China, Hong Kong SAR (3, 0, 1) MSE=2.25E+03 MAPE=6.76E-02
China, Taiwan Province of (3, 0, 0) MSE=2.69E+02 MAPE=6.41E-01
China, mainland (3, 0, 0) MSE=2.22E+04 MAPE=1.90E-01
Croatia (1, 0, 1) MSE=1.69E+04 MAPE=2.31E-01
Cyprus (1, 0, 0) MSE=2.99E+02 MAPE=7.36E+00
Czechia (1, 0, 0) MSE=5.70E+04 MAPE=2.37E-01
Denmark (5, 0, 0) MSE=6.20E+07 MAPE=9.58E-02
El Salvador (1, 0, 0) MSE=2.31E+03 MAPE=1.83E-01
Estonia (4, 0, 0) MSE=2.76E+04 MAPE=8.43E-01
France (6, 0, 0) MSE=2.26E+05 MAPE=3.10E-02
Germany (1, 0, 0) MSE=1.83E+07 MAPE=4.45E-02
Greece (4, 0, 0) MSE=1.45E+03 MAPE=5.91E-01
Hungary (6, 0, 0) MSE=1.13E+05 MAPE=1.13E-01
India (2, 0, 0) MSE=2.11E+04 MAPE=7.37E+00
Indonesia (1, 0, 0) MSE=1.46E+02 MAPE=6.88E+00
Italy (6, 0, 0) MSE=2.63E+06 MAPE=2.06E-02
Japan (1, 0, 2) MSE=8.59E+00 MAPE=7.85E-01
Kenya (1, 0, 0) MSE=2.28E+04 MAPE=3.55E-01
Latvia (2, 0, 2) MSE=1.35E+03 MAPE=4.22E-01
Lithuania (1, 0, 1) MSE=2.64E+03 MAPE=2.46E-01
Luxembourg (2, 0, 0) MSE=5.69E+03 MAPE=1.59E-01
Mexico (5, 0, 0) MSE=1.96E+05 MAPE=6.49E-01
New Zealand (4, 0, 0) MSE=3.71E+01 MAPE=2.02E-01
Norway (1, 0, 0) MSE=3.51E+03 MAPE=1.66E-01
Philippines (0, 0, 1) MSE=3.02E+02 MAPE=3.26E-01
Poland (1, 0, 0) MSE=1.07E+07 MAPE=1.06E-01
Portugal (6, 0, 0) MSE=5.38E+04 MAPE=7.12E-02
Republic of Korea (1, 0, 0) MSE=3.79E+02 MAPE=6.70E+00
Romania (6, 0, 1) MSE=1.90E+03 MAPE=2.95E-01
Russian Federation (2, 0, 0) MSE=4.49E+00 MAPE=3.42E-01
Senegal (4, 0, 0) MSE=3.22E+00 MAPE=1.50E-01
Slovakia (1, 0, 2) MSE=1.07E+04 MAPE=1.64E-01
Slovenia (1, 0, 1) MSE=7.83E+03 MAPE=7.26E-02
South Africa (2, 0, 0) MSE=1.09E+04 MAPE=2.83E-01
Spain (1, 0, 0) MSE=1.61E+07 MAPE=8.14E-02
Sri Lanka (3, 0, 2) MSE=3.33E+00 MAPE=1.22E-01
Sweden (0, 0, 1) MSE=1.99E+05 MAPE=5.08E-01
Switzerland (1, 0, 2) MSE=1.37E+01 MAPE=9.17E-02
Thailand (1, 0, 0) MSE=5.85E+05 MAPE=3.58E-01
United Kingdom (1, 0, 0) MSE=1.13E+07 MAPE=1.46E-01
United States of America (2, 0, 0) MSE=2.86E+08 MAPE=1.53E-01
Arima models for Bacon and ham optimaized for countries
2020-04-18 12:31:45.617231

84 country names selected for those with >50% non-zero data
There were 21 non-stationary countries being removed and
 result in 63 stationary countries
Data for Bananas processed
Austria (1, 0, 0) MSE=1.75E+06 MAPE=6.11E-02
Belgium (4, 0, 1) MSE=4.90E+08 MAPE=1.58E-02
Belize (1, 0, 1) MSE=2.70E+08 MAPE=1.57E-01
Bolivia (Plurinational State of) (1, 0, 0) MSE=3.15E+07 MAPE=4.66E-02
Brazil (1, 0, 2) MSE=4.44E+07 MAPE=5.97E-02
Bulgaria (1, 0, 0) MSE=1.88E+06 MAPE=3.22E-01
Cameroon (4, 0, 1) MSE=1.22E+09 MAPE=1.31E-01
China, Hong Kong SAR (2, 0, 2) MSE=4.56E+06 MAPE=1.57E-01
China, mainland (1, 0, 2) MSE=2.34E+06 MAPE=1.35E-01
Costa Rica (2, 0, 0) MSE=8.21E+09 MAPE=3.47E-02
Czechia (1, 0, 0) MSE=4.09E+07 MAPE=1.28E-01
Côte d'Ivoire (6, 0, 2) MSE=2.17E+09 MAPE=1.66E-01
Denmark (1, 0, 0) MSE=3.72E+05 MAPE=6.55E-02
Dominica (6, 0, 0) MSE=2.84E+06 MAPE=3.36E+02
Ecuador (6, 0, 2) MSE=7.38E+09 MAPE=1.42E-02
Egypt (1, 0, 0) MSE=1.09E+07 MAPE=3.25E+00
Estonia (0, 0, 1) MSE=6.82E+03 MAPE=3.87E-01
Ethiopia (1, 0, 0) MSE=6.93E+06 MAPE=3.68E-01
Fiji (1, 0, 0) MSE=5.61E+02 MAPE=9.25E-01
Georgia (2, 0, 0) MSE=8.52E+04 MAPE=4.67E-01
Germany (1, 0, 0) MSE=4.28E+08 MAPE=4.82E-02
Ghana (2, 0, 1) MSE=9.52E+07 MAPE=2.90E-01
Guatemala (2, 0, 0) MSE=8.03E+09 MAPE=4.81E-02
Hungary (1, 0, 0) MSE=6.55E+07 MAPE=5.00E-01
India (1, 0, 0) MSE=1.59E+08 MAPE=1.89E-01
Ireland (1, 0, 0) MSE=3.82E+07 MAPE=1.19E+00
Jordan (0, 0, 2) MSE=4.30E+04 MAPE=3.49E+00
Kenya (1, 0, 0) MSE=2.93E+02 MAPE=8.86E-01
Latvia (1, 0, 0) MSE=6.18E+06 MAPE=2.89E-01
Lebanon (1, 0, 0) MSE=9.51E+07 MAPE=1.58E-01
Luxembourg (4, 0, 2) MSE=7.60E+02 MAPE=1.58E-01

Madagascar (1, 0, 0) MSE=9.14E+02 MAPE=4.23E-01
Malaysia (4, 0, 0) MSE=7.23E+06 MAPE=1.10E-01
Mexico (2, 0, 1) MSE=1.90E+09 MAPE=1.38E-01
Netherlands (2, 0, 0) MSE=1.15E+09 MAPE=1.11E-01
New Zealand (1, 0, 0) MSE=2.72E+02 MAPE=5.19E-01
Nicaragua (5, 0, 0) MSE=1.17E+08 MAPE=2.02E-01
Oman (0, 0, 2) MSE=2.12E+05 MAPE=1.36E+02
Pakistan (1, 0, 0) MSE=2.21E+08 MAPE=2.20E-01
Panama (1, 0, 2) MSE=2.79E+09 MAPE=1.80E-01
Paraguay (1, 0, 0) MSE=4.95E+07 MAPE=2.95E-01
Peru (1, 0, 0) MSE=1.21E+09 MAPE=4.68E-01
Philippines (3, 0, 0) MSE=6.06E+10 MAPE=8.86E-02
Poland (1, 0, 0) MSE=3.65E+07 MAPE=1.65E-01
Portugal (3, 0, 0) MSE=1.30E+07 MAPE=2.00E-01
Republic of Korea (2, 0, 0) MSE=1.25E+04 MAPE=5.86E-01
Romania (1, 0, 0) MSE=8.43E+05 MAPE=3.06E+00
Rwanda (0, 0, 1) MSE=6.88E+00 MAPE=5.84E-01
Saint Lucia (3, 0, 1) MSE=2.22E+07 MAPE=1.22E+03
Saudi Arabia (1, 0, 0) MSE=9.23E+06 MAPE=4.03E-01
Slovakia (1, 0, 0) MSE=9.42E+06 MAPE=2.34E-01
Slovenia (1, 0, 0) MSE=5.62E+07 MAPE=2.32E-01
South Africa (1, 0, 0) MSE=2.49E+06 MAPE=2.69E-01
Sri Lanka (0, 0, 2) MSE=1.15E+02 MAPE=9.70E-01
Sweden (1, 0, 0) MSE=6.00E+06 MAPE=5.21E-02
Trinidad and Tobago (1, 0, 0) MSE=6.52E+01 MAPE=2.88E+00
Turkey (0, 0, 2) MSE=1.86E+02 MAPE=1.12E+00
Uganda (0, 0, 2) MSE=1.51E+04 MAPE=1.81E-01
United Kingdom (1, 0, 0) MSE=7.04E+07 MAPE=2.66E-01
United Republic of Tanzania (1, 0, 0) MSE=1.10E+05 MAPE=4.55E-01
United States of America (0, 0, 2) MSE=3.72E+09 MAPE=1.04E-01
Venezuela (Bolivarian Republic of) (1, 0, 0) MSE=1.90E+06 MAPE=9.14E+01
Zimbabwe (1, 0, 0) MSE=7.61E+05 MAPE=4.61E+00
Arima models for Bananas optimaized for countries
2020-04-18 12:46:16.163044

58 country names selected for those with >50% non-zero data
There were 10 non-stationary countries being removed and
 result in 48 stationary countries
Data for Barley processed
Australia (4, 0, 0) MSE=2.93E+11 MAPE=1.12E-01
Austria (5, 0, 1) MSE=1.88E+08 MAPE=1.57E-01
Belarus (1, 0, 0) MSE=2.17E+07 MAPE=4.37E-01
Belgium (5, 0, 2) MSE=7.92E+08 MAPE=8.52E-02
Bulgaria (4, 0, 0) MSE=3.00E+09 MAPE=1.17E-01
Canada (4, 0, 2) MSE=2.04E+10 MAPE=8.03E-02
Chile (4, 0, 1) MSE=1.06E+05 MAPE=2.74E-01
China, Hong Kong SAR (2, 0, 0) MSE=7.39E+01 MAPE=3.52E+00
China, mainland (1, 0, 0) MSE=1.24E+08 MAPE=8.53E+00
Croatia (1, 0, 0) MSE=6.72E+07 MAPE=3.31E-01
Czechia (2, 0, 2) MSE=1.89E+09 MAPE=1.24E-01
Ecuador (1, 0, 0) MSE=3.21E+04 MAPE=6.00E-01
Estonia (1, 0, 0) MSE=1.07E+09 MAPE=1.68E-01
Ethiopia (2, 0, 0) MSE=2.07E+02 MAPE=1.35E+00
France (4, 0, 0) MSE=1.74E+11 MAPE=5.00E-02
Germany (6, 0, 0) MSE=7.33E+10 MAPE=1.09E-01
Greece (3, 0, 0) MSE=5.87E+06 MAPE=5.20E-01
Guatemala (3, 0, 1) MSE=3.79E-01 MAPE=8.52E-02
Hungary (4, 0, 0) MSE=6.74E+09 MAPE=1.20E-01
India (2, 0, 0) MSE=8.25E+09 MAPE=6.97E-01
Italy (1, 0, 0) MSE=1.58E+07 MAPE=2.65E-01
Kazakhstan (3, 0, 1) MSE=1.06E+10 MAPE=2.29E-01
Kenya (1, 0, 0) MSE=1.40E+06 MAPE=3.91E-01
Latvia (1, 0, 0) MSE=5.27E+08 MAPE=1.28E-01
Lithuania (1, 0, 0) MSE=2.63E+09 MAPE=1.93E-01
Luxembourg (2, 0, 0) MSE=2.64E+06 MAPE=9.21E-02
Malaysia (2, 0, 1) MSE=3.47E+03 MAPE=5.45E-01
Norway (5, 0, 0) MSE=3.84E+03 MAPE=1.20E-01
Oman (4, 0, 2) MSE=1.24E+05 MAPE=2.00E+00
Pakistan (2, 0, 0) MSE=2.37E+05 MAPE=9.70E-01
Peru (1, 0, 0) MSE=3.24E+03 MAPE=6.69E-01
Poland (2, 0, 0) MSE=1.59E+09 MAPE=2.34E-01
Portugal (1, 0, 1) MSE=5.24E+07 MAPE=3.20E-01
Republic of Korea (4, 0, 0) MSE=6.30E+02 MAPE=2.57E-01
Republic of Moldova (1, 0, 0) MSE=7.05E+08 MAPE=2.35E-01
Romania (1, 0, 0) MSE=3.10E+10 MAPE=1.66E-01
Russian Federation (2, 0, 0) MSE=2.16E+11 MAPE=1.39E-01
Singapore (3, 0, 0) MSE=1.41E+03 MAPE=2.29E-01
Slovakia (5, 0, 0) MSE=6.35E+08 MAPE=1.52E-01
Slovenia (4, 0, 2) MSE=6.57E+06 MAPE=2.94E-01
South Africa (1, 0, 0) MSE=2.40E+06 MAPE=6.01E+00
Spain (2, 0, 2) MSE=3.62E+09 MAPE=5.12E-01
Thailand (4, 0, 0) MSE=5.76E+03 MAPE=1.91E+00
Turkey (3, 0, 2) MSE=5.09E+09 MAPE=4.49E+00
Ukraine (2, 0, 0) MSE=5.72E+11 MAPE=1.78E-01
United Kingdom (0, 0, 2) MSE=1.85E+10 MAPE=1.20E-01
United States of America (2, 0, 0) MSE=7.66E+09 MAPE=3.16E-01
Uruguay (3, 0, 2) MSE=1.76E+08 MAPE=1.35E+02
Arima models for Barley optimaized for countries
2020-04-18 13:00:26.192093

96 country names selected for those with >50% non-zero data
There were 16 non-stationary countries being removed and
 result in 80 stationary countries
Data for Beans, dry processed
Albania (1, 0, 2) MSE=2.36E+03 MAPE=9.42E-01
Argentina (3, 0, 1) MSE=2.31E+09 MAPE=1.27E-01
Australia (5, 0, 0) MSE=1.97E+08 MAPE=1.93E-01
Barbados (1, 0, 2) MSE=2.12E+00 MAPE=9.20E-01
Belgium (1, 0, 0) MSE=4.33E+06 MAPE=1.12E-01
Belize (1, 0, 0) MSE=4.36E+05 MAPE=2.21E-01
Bolivia (Plurinational State of) (2, 0, 0) MSE=2.13E+07 MAPE=1.07E-01
Botswana (1, 0, 0) MSE=6.36E+04 MAPE=3.51E-01
Brazil (1, 0, 0) MSE=1.94E+08 MAPE=3.33E-01
Bulgaria (1, 0, 0) MSE=1.82E+06 MAPE=1.55E-01
Burkina Faso (1, 0, 0) MSE=3.27E+07 MAPE=5.69E-01
Cameroon (1, 0, 0) MSE=7.74E+05 MAPE=1.93E-01
Canada (2, 0, 0) MSE=2.05E+08 MAPE=4.42E-02
Chile (5, 0, 1) MSE=4.61E+05 MAPE=2.66E-01
China, Taiwan Province of (0, 0, 1) MSE=2.30E+03 MAPE=2.99E-01
China, mainland (1, 0, 2) MSE=2.60E+09 MAPE=5.85E-02
Colombia (0, 0, 1) MSE=4.35E+07 MAPE=6.73E+00
Croatia (0, 0, 2) MSE=3.35E+03 MAPE=6.00E-01
Cyprus (0, 0, 2) MSE=4.22E+02 MAPE=3.87E-01
Czechia (4, 0, 0) MSE=1.61E+04 MAPE=7.11E-02
Denmark (4, 0, 0) MSE=9.76E+02 MAPE=3.87E-01
Egypt (1, 0, 0) MSE=5.29E+08 MAPE=5.40E-01
El Salvador (2, 0, 0) MSE=2.22E+05 MAPE=2.22E-01
Ethiopia (3, 0, 0) MSE=3.38E+08 MAPE=1.27E-01
Fiji (1, 0, 0) MSE=9.62E+02 MAPE=9.74E-01
Finland (1, 0, 0) MSE=9.56E-02 MAPE=8.95E-02
France (1, 0, 0) MSE=3.80E+05 MAPE=9.72E-02
Germany (4, 0, 0) MSE=2.43E+05 MAPE=7.94E-02

In [11]:
item_countries.keys()

dict_keys(['Animals, live, non-food', 'Anise, badian, fennel, coriander', 'Apples', 'Apricots', 'Apricots, dry', 'Areca nuts', 'Artichokes'])

In [ ]:
item_list[10:20]