In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!pwd

/Users/Sabrina/Documents/OneDrive/Github/crop-trends/notebooks

In [3]:
# Use oceana data first
#trade = pd.read_csv('/Users/Sabrina/Documents/OneDrive/Github/crop-trends/data/raw/Trade_DetailedTradeMatrix_E_All_Data.csv',
#                   encoding='latin1')

trade = pd.read_csv('/Users/Sabrina/Documents/OneDrive/Github/crop-trends/data/raw/Trade_DetailedTradeMatrix_E_Oceania/Trade_DetailedTradeMatrix_E_Oceania.csv',
                   encoding='latin1')

/Users/Sabrina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,54,56,58,62,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
trade.shape

(5248354, 73)

In [4]:
trade.shape

(181866, 73)

In [13]:
trade.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
0,2,Afghanistan,4,Algeria,230,"Cashew nuts, shelled",5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,*,NaN,NaN
1,2,Afghanistan,4,Algeria,230,"Cashew nuts, shelled",5922,Export Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,*,NaN,NaN
2,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,1.0,*,1.0,*,5.0,R
3,2,Afghanistan,4,Algeria,561,Raisins,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,12.0,*,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Afghanistan,4,Algeria,561,Raisins,5922,Export Value,1000 US$,NaN,...,NaN,NaN,27.0,*,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
trade.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
0,10,Australia,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,...,2.0,*,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
1,10,Australia,2,Afghanistan,231,Almonds shelled,5622,Import Value,1000 US$,NaN,...,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN
2,10,Australia,2,Afghanistan,711,"Anise, badian, fennel, coriander",5610,Import Quantity,tonnes,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Im
3,10,Australia,2,Afghanistan,711,"Anise, badian, fennel, coriander",5622,Import Value,1000 US$,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN
4,10,Australia,2,Afghanistan,515,Apples,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
len(trade.Item.unique())

424

In [17]:
trade.Item.unique()

array(['Cashew nuts, shelled', 'Crude materials', 'Raisins', 'Spices nes',
       'Food prep nes', 'Maize', 'Meat, chicken', 'Milk, whole dried',
       'Sugar refined', 'Cigarettes', 'Almonds shelled',
       'Anise, badian, fennel, coriander', 'Apricots', 'Apricots, dry',
       'Beverages, non alcoholic', 'Chick peas', 'Cream fresh',
       'Figs dried', 'Fruit, dried nes', 'Fruit, prepared nes',
       'Meat, cattle, boneless (beef & veal)', 'Meat, sheep',
       'Milk, skimmed dried', 'Nuts nes',
       'Nuts, prepared (exc. groundnuts)', 'Oilseeds nes', 'Pastry',
       'Plums dried (prunes)', 'Rice - total  (Rice milled equivalent)',
       'Rice, milled', 'Tallow', 'Vegetables, frozen',
       'Vegetables, preserved nes', 'Whey, dry',
       'Yoghurt, concentrated or not', 'Almonds, with shell',
       'Cheese, processed', 'Cheese, whole cow milk',
       'Chocolate products nes', 'Lactose', 'Lemons and limes',
       'Pistachios', 'Walnuts, shelled',
       'Buttermilk, curdled, acidified milk', 'Flour, wheat',
       'Milk, whole condensed', 'Milk, whole fresh cow', 'Oil, sunflower',
       'Tea', 'Wheat', 'Yoghurt', 'Animals, live, non-food', 'Beans, dry',
       'Brazil nuts, shelled', 'Cashew nuts, with shell',
       'Cinnamon (cannella)', 'Coconuts', 'Dates', 'Figs', 'Grapes',
       'Groundnuts, shelled', 'Milk, whole evaporated',
       'Peaches and nectarines', 'Pears', 'Pyrethrum, dried',
       'Sugar confectionery', 'Sweet corn frozen',
       'Vegetables, fresh or dried products nes', 'Watermelons',
       'Juice, fruit nes', 'Jute', 'Beer of barley',
       'Beverages, distilled alcoholic', 'Wine', 'Apples', 'Avocados',
       'Cabbages and other brassicas', 'Cauliflowers and broccoli',
       'Cherries', 'Cherries, sour', 'Chillies and peppers, green',
       'Eggplants (aubergines)', 'Fruit, fresh nes', 'Kiwi fruit',
       'Lettuce and chicory', 'Mushrooms and truffles', 'Oil, boiled etc',
       'Oranges', 'Persimmons', 'Spinach', 'Strawberries', 'Tomatoes',
       'Vegetables, fresh nes', 'Bacon and ham', 'Bread', 'Cake, linseed',
       'Cereals, breakfast', 'Cider etc', 'Cigars, cheroots',
       'Coffee, roasted', 'Cotton lint', 'Cotton waste',
       'Eggs, hen, in shell', 'Eggs, other bird, in shell',
       'Fat nes, prepared', 'Feed, vegetable products nes',
       'Flour, mustard', 'Flour, potatoes',
       'Food preparations, flour, malt extract', 'Food wastes',
       'Fruit, cooked, homogenized preparations', 'Groundnuts, prepared',
       'Hair, fine', 'Infant food', 'Macaroni', 'Malt',
       'Margarine, short', 'Meat, beef, preparations', 'Meat, cattle',
       'Meat, chicken, canned', 'Meat, game', 'Meat, pig',
       'Meat, pig sausages', 'Meat, pig, preparations', 'Meat, pork',
       'Meat, turkey', 'Mixes and doughs', 'Offals, edible, cattle',
       'Oil, olive residues', 'Oil, olive, virgin', 'Pet food',
       'Potatoes, frozen', 'Tobacco products nes',
       'Vegetables in vinegar', 'Vegetables, dehydrated',
       'Vegetables, preserved, frozen', 'Wafers', 'Waters,ice etc',
       'Wool, hair waste', 'Cake, soybeans', 'Peas, green',
       'Vegetables, temporarily preserved', 'Sunflower seed', 'Bananas',
       'Chillies and peppers, dry', 'Fatty acids', 'Forage products',
       'Hides, cattle, wet salted', 'Juice, lemon, single strength',
       'Lard', 'Lentils', 'Melons, other (inc.cantaloupes)', 'Molasses',
       'Offals, pigs, edible', 'Oil, essential nes',
       'Oil, vegetable origin nes', 'Plums and sloes', 'Sesame seed',
       'Skins, sheep, dry salted', 'Soybeans', 'Sweet potatoes',
       'Walnuts, with shell', 'Peanut butter', 'Beeswax', 'Garlic',
       'Glucose and dextrose', 'Meat, duck', 'Mushrooms, canned',
       'Oil, soybean', 'Roots and tubers nes', 'Sugar nes',
       'Sweet corn prep or preserved', 'Wool, degreased', 'Coffee, green',
       'Honey, natural', 'Olives preserved', 'Poppy seed',
       'Butter, cow milk', 'Pepper (piper spp.)',
       'Cereal preparations nes', 'Flax fibre and tow', 'Oats',
       'Potatoes', 'Fat, liver prepared (foie gras)',
       'Juice, apple, concentrated', 'Beans, green', 'Cloves',
       'Coconuts, desiccated', 'Coffee, extracts',
       'Coffee, substitutes containing coffee', 'Eggs, liquid',
       'Flour, maize', 'Ginger', 'Hazelnuts, shelled', 'Horses',
       'Ice cream and edible ice', 'Juice, apple, single strength',
       'Juice, grape', 'Juice, orange, concentrated',
       'Juice, orange, single strength', 'Juice, tomato',
       'Meat, dried nes', 'Meat, goose and guinea fowl', 'Meat, rabbit',
       'Milk, skimmed cow', 'Oats rolled', 'Offals, liver chicken',
       'Oil, maize', 'Oil, rapeseed', 'Peas, dry', 'Soya sauce',
       'Sugar Raw Centrifugal', 'Tea, mate extracts', 'Tomatoes, paste',
       'Tomatoes, peeled', 'Vegetables, homogenized preparations',
       'Vermouths & similar', 'Nutmeg, mace and cardamoms', 'Bran, wheat',
       'Buffaloes', 'Coir', 'Fat, cattle', 'Fatty substance residues',
       'Feed, compound nes', 'Mangoes, mangosteens, guavas',
       'Oil, castor beans', 'Oil, coconut (copra)', 'Oil, palm kernel',
       'Oil, sesame', 'Onions, dry', 'Papayas', 'Pineapples',
       'Rubber natural dry', 'Skins, calve, wet salted',
       'Skins, sheep, with wool', 'Tobacco, unmanufactured', 'Turkeys',
       'Wool, greasy', 'Beverages, fermented rice', 'Oil, palm',
       'Animals live nes', 'Barley', 'Broad beans, horse beans, dry',
       'Cake, copra', 'Camels', 'Carrots and turnips', 'Cattle',
       'Chickens', 'Cocoa, beans', 'Cocoa, powder & cake',
       'Cocoons, unreelable & waste', 'Copra', 'Cotton, carded, combed',
       'Cottonseed', 'Cucumbers and gherkins', 'Eggs, dried',
       'Flour, cereals', 'Flour, mixed grain', 'Flour, pulses',
       'Fructose and syrup, other', 'Goats', 'Grapefruit (inc. pomelos)',
       'Hazelnuts, with shell', 'Juice, citrus, concentrated',
       'Juice, citrus, single strength',
       'Juice, grapefruit, concentrated', 'Juice, pineapple',
       'Juice, pineapple, concentrated',
       'Leeks, other alliaceous vegetables',
       'Meat, beef and veal sausages',
       'Milk, products of natural constituents nes', 'Oil, cottonseed',
       'Oil, groundnut', 'Oils, fats of animal nes', 'Rapeseed',
       'Rice, husked', 'Sheep', 'Silk-worm cocoons, reelable',
       'Tangerines, mandarins, clementines, satsumas', 'Vanilla',
       'Coffee, husks and skins', 'Cake, cottonseed', 'Cake, sunflower',
       'Linseed', 'Millet', 'Oil, linseed', 'Rice, broken',
       'Maize, green', 'Chestnut', 'Margarine, liquid',
       'Pineapples canned', 'Bran, maize', 'Areca nuts', 'Flour, rice',
       'Meat, goat', 'Mustard seed', 'Pigeons, other birds', 'Quinoa',
       'Silk, raw', 'Beet pulp', 'Bran, sorghum', 'Buckwheat',
       'Cake, groundnuts', 'Cake, rapeseed', 'Grease incl. lanolin wool',
       'Meal, meat', 'Offals, sheep,edible', 'Plantains and others',
       'Rye', 'Sorghum', 'Straw husks', 'Sugar beet',
       'Flour, roots and tubers nes', 'Asparagus', 'Juice, grapefruit',
       'Oil, citronella', 'Hides nes', 'Olives', 'Quinces', 'Artichokes',
       'Cassava dried', 'Cocoa, butter', 'Maple sugar and syrups', 'MatÃ©',
       'Meat nes', 'Pigs', 'Pumpkins, squash and gourds',
       'Rubber, natural', 'Ducks', 'Hops', 'Blueberries', 'Fat, pigs',
       'Feed and meal, gluten', 'Grain, mixed',
       'Juice, lemon, concentrated', 'Pyrethrum, extraction',
       'Germ, maize', 'Beehives', 'Cocoa, paste', 'Fibre crops nes',
       'Fruit, tropical fresh nes', 'Skins, goat, wet salted',
       'Waxes vegetable', 'Cake, maize', 'Canary seed', 'Gooseberries',
       'Kola nuts', 'Oil, safflower', 'Onions, shallots, green',
       'Skins, sheep, wet salted', 'Triticale', 'Asses',
       'Barley, pearled', 'Cotton linter', 'Feed, pulp of fruit',
       'Flour, cassava', 'Mules', 'Alfalfa meal and pellets',
       'Cranberries', 'Currants', 'Dregs from brewing, distillation',
       'Flax fibre raw', 'Flax tow waste', 'Rabbits and hares',
       'Starch, cassava', 'Whey, condensed', 'Cake, palm kernel',
       'Meat, horse', 'Offals, liver duck', 'Offals, liver geese',
       'Karite nuts (sheanuts)', 'Feed minerals', 'Feed supplements',
       'Sugar crops nes', 'Camelids, other', 'Offals, edible, goats',
       'Rodents, other', 'Peppermint', 'Hides, horse, dry salted',
       'Manila fibre (abaca)', 'Hay (unspecified)', 'Cheese, sheep milk',
       'Milk, whole fresh sheep', 'Fat, camels', 'Fonio',
       'Hay (clover, lucerne,etc)', 'Bulgur', 'Vegetables, canned nes',
       'Bambara beans', 'Bran, millet', 'Cake, sesame seed', 'Vetches',
       'Hides and skins nes, fresh', 'Cake, mustard', 'Cake, hempseed',
       'Oil, rice bran', 'Butter of karite nuts', 'Vegetables, dried nes',
       'Cake, rice bran', 'Meat, ass', 'Kapok fibre', 'Cake, safflower',
       'Offals, other camelids', 'Soya paste', 'Hair, goat, coarse',
       'Hides, buffalo, wet salted', 'Hides, buffalo, dry salted',
       'Sugar non-centrifugal', 'Cassava', 'Vitamins', 'Potato offals',
       'Cashewapple', 'Turnips for fodder', 'Oil, kapok',
       'Kapokseed in shell', 'Ghee, buffalo milk', 'Oil, poppy',
       'Cane tops', 'Sugar flavoured', 'Cake, kapok',
       'Hides, camel, wet salted', 'Bran, buckwheat', 'Vegetable tallow',
       'Juice, plum, concentrated'], dtype=object)

In [25]:
trade.iloc[1:5,1]

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Reporter Countries, dtype: object

In [27]:
trade.iloc[1:5,3]

1    Algeria
2    Algeria
3    Algeria
4    Algeria
Name: Partner Countries, dtype: object

In [28]:
trade.columns

Index(['Reporter Country Code', 'Reporter Countries', 'Partner Country Code',
       'Partner Countries', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y1986', 'Y1986F', 'Y1987', 'Y1987F', 'Y1988', 'Y1988F',
       'Y1989', 'Y1989F', 'Y1990', 'Y1990F', 'Y1991', 'Y1991F', 'Y1992',
       'Y1992F', 'Y1993', 'Y1993F', 'Y1994', 'Y1994F', 'Y1995', 'Y1995F',
       'Y1996', 'Y1996F', 'Y1997', 'Y1997F', 'Y1998', 'Y1998F', 'Y1999',
       'Y1999F', 'Y2000', 'Y2000F', 'Y2001', 'Y2001F', 'Y2002', 'Y2002F',
       'Y2003', 'Y2003F', 'Y2004', 'Y2004F', 'Y2005', 'Y2005F', 'Y2006',
       'Y2006F', 'Y2007', 'Y2007F', 'Y2008', 'Y2008F', 'Y2009', 'Y2009F',
       'Y2010', 'Y2010F', 'Y2011', 'Y2011F', 'Y2012', 'Y2012F', 'Y2013',
       'Y2013F', 'Y2014', 'Y2014F', 'Y2015', 'Y2015F', 'Y2016', 'Y2016F',
       'Y2017', 'Y2017F'],
      dtype='object')

In [32]:
len(trade['Reporter Countries'].unique())

184

In [33]:
len(trade['Partner Countries'].unique())

255